.navbar-nav a.active {
    background-color: #e7e7e7 !important;
    color: #555 !important;
}

.div {
    display: inline-block;
   width: 100%;
}
@media print {
  @page {
   size: 297mm 210mm; /* landscape */
    /* you can also specify margins here: */
    margin: 25mm;
    
      
